/* common.css - 公共基础样式 */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Microsoft YaHei", "SimSun", serif; /* 支持宋体 */
}


body {
    background-color: #c7a670; 
    background-image: linear-gradient(120deg, #d4b98f, #c7a670);
}

.app-container {
    display: flex;
    min-height: 100vh;
}

.main-content {
    flex: 1;
    display: flex;
    flex-direction: column;
}

.app-main {
    flex: 1;
    padding: 20px;
    text-align: center;
}